@model Security.Web.Models.LoginViewModel
<form autocomplete="off" asp-route="Login">
    <input type="hidden" asp-for="ReturnUrl" />
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" class="form-control form-control-lg" placeholder="Enter your email" asp-for="Email" autofocus>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" class="form-control form-control-lg" placeholder="Enter your password" asp-for="Password">
    </div>
    <button type="submit" class="btn btn-dark btn-block mt-3">Login</button>
</form>